body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hello {
  text-align: center;
 padding-top: 100px;
}
/* .makeStyles-root-1 {
  display: flex;
  justify-content: center;
}
.MuiContainer-maxWidthLg {
  padding-top: 100px;
} */

.userInfo {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.googleButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
#root {
  background-color: #0b1d26;
}
