.orderInfo {
  background-color: #f3f2ff;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
}
.commentsList {
  margin-top: 10px;
  height: 200px;
  overflow-y: scroll;
  border: 1px solid black;
  border-radius: 10px;
}
li {
  list-style-type: none;
}
